.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.list {
  width: 60%;
  display: flex;
  position: relative;
  align-items: center;
  margin: 0;
  list-style: none;
}

li {
  background-color: red;
  width: 33%;
  max-height: 300px;
  transition: all 0.5s;
  display: flex;
  justify-content: space-around;
}

li + li {
  margin-left: 10%;
}

.is-selected li {
  width: 100%;
  max-height: 1000px;
}

.details {
  background-color: green;
  width: 60%;
  height: 500px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.is-selected .details {
  opacity: 1;
  visibility: visible;
}
